@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
.dashboard-body {
    background-color: #EDF2F7;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color: #007bffb4;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #3395ff;
}

/* -------------------------------------------------------------------------------------------------- */
/* Main Content */
.d-main-content {
    display: flex;
    flex-direction: row;
}

/* -------------------------------------------------------------------------------------------------- */
/* side bar */
.d-list {
    font-family: 'Rubik', Arial, sans-serif;
    background-color: white;
    width: 90px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: 0.3s 0s linear;
}
.d-list:hover {
    width: 360px;
}
p {
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}

ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 15px 0px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    color: #162e53;
    transition: 0.15s 0s linear;
}
ul li a:hover, .active {
    font-size: 18px;
    background-color: #EDF2F7;
}
ul li a:focus-within {
    color: #3395ff;
}

.d-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.d-user-img {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: #EDF2F7 3px solid;
    border-radius: 50%;
    overflow: hidden;
}
.d-user-img img {
    width: 100%;
}
.d-user p {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.d-list-icons {
    font-size: 22px;
}

.d-out {
    width: 100%;
    position: absolute;
    bottom: 0;
}
/* -------------------------------------------------------------------------------------------------- */
/* dashboard content */
.d-dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin: 10px 0px;
    gap: 20px;
}
.d-data-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
}

.d-dashboard-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.box {
    flex-basis: 150px; /* width */
    flex-grow: 1;
    height: 100px;
    background-color: white;
    border-radius: 8px;
    /* box inside */
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s 0s linear;
}
.box:hover {
    background-color: #ffffffb0;
}
.data-icons {
    font-size: 36px
}
.data-user, .data-password, .data-views, .data-feeds {
    text-align: center;
}
.data-user p, .data-password p, .data-views p, .data-feeds p {
    font-size: 22px;
    font-weight: 600;
}
.data-user span, .data-password span, .data-views span, .data-feeds span {
    font-size: 30px;
    font-weight: 100;
}
