@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

.generator-body { 
    background-color: #EDF2F7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color: #407bff;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #3395ff;
}

/* flex */
.col {
    flex: 1 0 50% !important;
}

/* -------------------------------------------------------------------------------------------------- */
/* Header */
.g-header {
    display: grid;
    grid-template-columns: 850px 793px;
    grid-template-areas: "g-title g-img";
    background-image: url(../Background/Generator/Geometric.jpg);
    width: 100%;
}

.g-title {
    grid-area: g-title;
    width: 800px;
    height: 650px;
    margin: 50px;
    background-image: url("../Background/Generator/Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.g-title-backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 650px;
    backdrop-filter: brightness(0.8) blur(6px);
}
.g-TitleCard {
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', 'Rubik', Arial, sans-serif;
    font-size: 162px;
    color: white;
    height: 212px;
}
.g-TitleModel {
    color: white;
    font-size: 22px;
}
.g-TitleAlign {
    text-align: center;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 42px;
    color: white;
}

.g-title-div-img {
    grid-area: g-img;
    width: 870px;
    height: 450px;
    margin-top: 215px;
    pointer-events: none ;
}
.g-title-img {
    width: 870px;
    height: 450px;
    pointer-events: none;
}

/* -------------------------------------------------------------------------------------------------- */
/* Main Content */
.g-main-content {
    display: grid;
    grid-template-columns: 700px 500px 470px;
    grid-template-rows: 610px 440px;
    grid-template-areas:
        "g-check-widgets g-range g-img-2"
        "g-password g-password g-img-3";
}
.g-main-div-img {
    position: absolute;
    z-index: -1;
    margin-top: 100px;
    margin-left: 450px;
}
.g-main-div-img-2 {
    position: absolute;
    z-index: -1;
    margin-top: 100px;
    margin-left: 130px;  
}

.g-check-widgets {
    grid-area: g-check-widgets;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 250px;
    width: 550px;
    height: 550px;
    margin: 50px;
    margin-left: 100px;
    gap: 50px;
}
.g-check-1, .g-check-2, .g-check-3, .g-check-4 {
    background-color: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 75px -50px #212529;
    transition: 0.1s 0s linear;
    font-size: 32px;
    color: #0d6efd;
}
.g-check-1:active, .g-check-2:active, .g-check-3:active, .g-check-4:active {
    background-color: rgb(29, 134, 255);
    color: white;
}
.g-check-1[data-checked="true"], .g-check-2[data-checked="true"], .g-check-3[data-checked="true"], .g-check-4[data-checked="true"] {
    background-color: rgb(29, 134, 255);
    box-shadow: 0 0 75px -20px #DDDDF9;
    color: white;
}

.g-range {
    grid-area: g-range;
    display: grid;
    align-content: center;
    justify-items: center;
    width: 400px;
    height: 550px;
    margin: 50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 75px -30px #DDDDF3;
}
.g-range-number {
    font-size: 28px;
    text-align: center;
    color: #333;
    background-color: #f8f8f8;
    border: #eee 3px solid;
    border-radius: 5px;
}
.g-range-input {
    width: 90%;
    height: 50px;
}
.g-range-gen {
    border: none;
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    font-size: 30px;
    width: 40%;
    transition: 0.3s 0s linear;
}
.g-range-gen:hover {
    background-color: #0b50b8; 
}

.g-password {
    grid-area: g-password;
    display: grid;
    align-items: start;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 130px 70px 10px;
    grid-template-areas:
        "g-password-input g-password-input g-password-input"
        "g-password-copy g-password-save g-password-gen"
        "g-save-text g-save-text g-save-text";
    width: 1050px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 75px -30px #DDDDF3;
    transition: 0.3s 0s linear;
}
.g-password-input {
    grid-area: g-password-input;
    width: 90%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: #0d6efd 2px solid;
    font-size: 48px;
    transition: 0.3s 0s linear;
    margin-top: 40px;
}
.g-password-input:focus-within, .g-password-input:hover {
    border-bottom: #0d6efd 1px solid;
    border-radius: 5px;
    background-color: #eee;
}
.g-password-copy {
    grid-area: g-password-copy;
    border: none;
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    font-size: 30px;
    width: 50%;
    margin-left: 175px;
    transition: 0.3s 0s linear;
}
.g-password-copy:hover {
    background-color: #0b50b8; 
}
.g-password-save {
    grid-area: g-password-save;
    border: none;
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    font-size: 30px;
    width: 50%;
    transition: 0.3s 0s linear;
}
.g-password-save:hover {
    background-color: #0b50b8; 
}
.g-password span {
    grid-area: g-save-text;
    font-size: 32px;
    margin: 10px auto;
    font-weight: bold;
    color: #0d6efd;
    transition: 0.3s 0s linear;
}
.g-password-gen {
    grid-area: g-password-gen;
    border: none;
    border-radius: 10px;
    background-color: #0d6efd;
    color: white;
    font-size: 30px;
    width: 50%;
    margin-right: 175px;
    transition: 0.3s 0s linear;
}
.g-password-gen:hover {
    background-color: #0b50b8; 
}
.g-div-img-2 {
    grid-area: g-img-2;
    width: 480px;
    height: 630px;
}
.g-img-2 {
    width: 480px;
    height: 630px;
    pointer-events: none;
}
.g-div-img-3 {
    grid-area: g-img-3;
    width: 480px;
    height: 500px;
}
.g-img-3 {
    width: 480px;
    height: 500px;
    pointer-events: none;
}

#SaveModal {
    --bs-modal-margin: 17.75rem;
}
.g-password-save-input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.g-password-save-input:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}
