@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
.home-body {
    background-color: #EDF2F7;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color: #007bffb4;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #3395ff;
}

/* flex */
.col-gallery, .col-information {
    flex: 1 0 33%;
}

/* -------------------------------------------------------------------------------------------------- */
/* header */

.h-title {
    height: 840px;
    width: 100%;
    transition: 0.19s 0s linear;
    background-image: url("../Background/Home/Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.h-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 840px;
    backdrop-filter: brightness(0.5);
    transition: 0.3s 0s linear;
}
.h-title-div:hover {
    backdrop-filter: brightness(0.7);
}
.h-TitleCard {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 182px;
    color: white;
    pointer-events: none;
}
.h-TitleAlign {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 52px;
    color: white;
    pointer-events: none;
}

.h-media-icon {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.h-facebook-header-icon, .h-instagram-header-icon, .h-github-header-icon{
    color: #eee;
    height: 60px;
    filter: blur(0.5px);
    transition: 0.3s 0s linear;
}
.h-facebook-header-icon:hover, .h-instagram-header-icon:hover, .h-github-header-icon:hover {
    color: #cecece;
}

/* -------------------------------------------------------------------------------------------------- */
/* Gallery Cards */

.h-gallery {
    display: flex;
    align-items: stretch;
    width: 1366px;
}

.card {
    background-color: aliceblue;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
}

.h-cards {
    margin: 100px;
}

.col-gallery {
    height: 616px;
}

/* --------------------------------------------- */
/* Generetor Cards */
.card-generator-img {
    width: 400px;
    height: 260px;
    transition: 0.3s 0s linear;
}
.card-generator-img:hover {
    scale: 1.2;
}
.card-generator-footer {
    display: block;
    width: 100%;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    background-color: #575be0;
    color: white;
    transition: 0.3s 0s linear;
}
.card-generator-footer:hover {
    background-color: #777ae3;
}

/* --------------------------------------------- */
/* Word List Card */
.card-wordlist-img {
    width: 365px;
    height: 260px;
    transition: 0.3s 0s linear;
}
.card-wordlist-img:hover {
    scale: 1.2;
}
.wordlist-new {
    background-color: #232222;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transform: translate(15%, -5%);
}
.wordlist-new:hover, .wordlist-new:active, .wordlist-new:focus-visible {
    background-color: white !important;
    outline: 1px #232222 solid !important;
    color: #232222 !important;
}
.card-wordlist-footer {
    display: block;
    width: 100%;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    background-color: #0044ff;
    color: white;
    transition: 0.3s 0s linear;
}
.card-wordlist-footer:hover {
    background-color: #0066ff;
}

/* --------------------------------------------- */
/* Artificial Intelligence Card */
.card-ai-img {
    width: 365px;
    height: 260px;
    transition: 0.3s 0s linear;
}
.card-ai-img:hover {
    scale: 1.3;
}
.card-ai-footer {
    display: block;
    width: 100%;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    background-color: #f2104f;
    color: white;
    transition: 0.3s 0s linear;
}
.card-ai-footer:hover {
    background-color: #e34672;
}

/* -------------------------------------------------------------------------------------------------- */
/* Gallery Phone Cards */

.h-gallery-phone {
    display: none;
    width: 95%;
    height: 500px;
}

.h-gallery-phone-inner {
    height: 520px;
}
.h-gallery-phone-card-1, .h-gallery-phone-card-2, .h-gallery-phone-card-3 {
    height: 500px;
}
.carousel-control-prev-card {
    left: -4rem;
}
.carousel-control-next-card {
    left: 23.5rem;
}

/* -------------------------------------------------------------------------------------------------- */
/* Main Content */
.h-main-content {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

/* --------------------------------------------- */
/* Information What This Is Made For */
.h-grid-information {
    display: grid;
    justify-content: center;
}
.h-grid-information-phone {
    display: none;
    height: 400px;
    width: 350px;
}
.carousel-control-perv-info {
    left: -4rem;
    top: 0;
}
.carousel-control-next-info {
    left: 23.5rem;
}
.row-information {
    --bs-gutter-x: -2.5rem;
    --bs-gutter-y: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.h-information {
    width: 1430px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 7px 25px #1234564b;
}
.h-information-title {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 72px;
    color: #333;
}

.h-information-card-1 {
    outline: none;
    border: none;
    border-radius: 15px;
    width: 350px;
    height: 390px;
}
.h-information-card-1-img {
    height: 100%;
    width: 100%;
    background-image: url("../Background/Home/Informations/Card\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s 0s linear;
}
.h-information-card-1-img:hover {
    scale: 1.3;
}
.h-information-card-1-img:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #1152a7 100%);
    content: '';
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0.5;
  }

.h-information-card-1-text {
    top: 55%;
}
.h-information-card-2 {
    outline: none;
    border: none;
    border-radius: 15px;
    width: 350px;
    height: 390px;
}
.h-information-card-2-img {
    height: 100%;
    width: 100%;
    background-image: url("../Background/Home/Informations/Card\ 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s 0s linear;
}
.h-information-card-2-img:hover {
    scale: 1.3;
}
.h-information-card-2-img:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #f55111 200%);
    content: '';
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0.5;
}

.h-information-card-2-text {
    top: 55%;
}
.h-information-card-3 {
    outline: none;
    border: none;
    border-radius: 15px;
    width: 350px;
    height: 390px;
}
.h-information-card-3-img {
    height: 100%;
    width: 100%;
    background-image: url("../Background/Home/Informations/Card\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s 0s linear;
}
.h-information-card-3-img:hover {
    scale: 1.3;
}
.h-information-card-3-img:after {
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #115fa7 200%);
    content: '';
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0.5;
}
.h-information-card-3-text {
    top: 55%;
}
.h-information-card-title {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    color: white;
}
.h-information-card-text {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
    color: white;
}

/* --------------------------------------------- */
/* Review */

.h-reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 401px;
    align-items: start;
    justify-items: center;
    width: 1450px;
    gap: 30px;
}

/* --------------------------------------------- */
/* Rating */

.h-rating {
    font-family: 'Rubik', Arial, sans-serif;
    width: 955px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
}
.h-rating-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.h-rating-header {
    text-align: center;
    font-size: 32px;
    margin-right: 25px;
}
.h-rating-stars {
    text-align: center;
    font-size: 32px;
}
.checked {
    color: orange;
} 
.h-rating-side {
    float: left;
    width: 16%;
    margin-left: 40px;
    margin-bottom: 5px;
    font-size: 24px;
}  
.h-rating-middle {
    margin-top:10px;
    float: left;
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.h-rating-bar-container {
    width: 100%;
    background-color: #eee;
    border-radius: 15px;
    text-align: center;
    color: white;
    transition: 0.3s 0s linear;
}
.h-rating-bar-5, .h-rating-bar-4, .h-rating-bar-3, .h-rating-bar-2, .h-rating-bar-1 {
    width: 1%;
    height: 10px;
    border-radius: 15px;
    transition: 0.3s 0s linear;
}
.h-rating-bar-5 {
    background-color: #0077B6;
}
.h-rating-bar-4 {
    background-color: #0096C7;
}
.h-rating-bar-3 {
    background-color: #00B4D8;
}
  .h-rating-bar-2 {
    background-color: #00B4D8;
}
.h-rating-bar-1 {
    background-color: #48CAE4;
}

/* --------------------------------------------- */
/* important reviews */

.h-imp-rating {
    font-family: 'Rubik', Arial, sans-serif;
    width: 476px;
    height: 402px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
}
.h-imp-rating-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 90px 15px 15px 25px 160px;
    grid-template-areas:
        "h-imp-rating-title h-imp-rating-title h-imp-rating-title h-imp-rating-title"
        "h-imp-rating-img h-imp-rating-img h-imp-rating-img h-imp-rating-img"
        "hr1 hr1 hr1 hr1"
        "h-imp-rating-rev-name h-imp-rating-rev-name h-imp-rating-rev-name h-imp-rating-rev-name"
        "hr2 hr2 hr2 hr2"
        "h-imp-rating-rev-word h-imp-rating-rev-word h-imp-rating-rev-word h-imp-rating-rev-word";
    justify-items: center;
    align-items: baseline;
    gap: 10px;
}
.h-imp-rating-title {
    grid-area: h-imp-rating-title;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    color: #333;
    margin-bottom: 0px;
}
.h-imp-rating-img {
    grid-area: h-imp-rating-img;
    width: 100px;
    height: 100px;
    border: 4px #333 solid;
    border-radius: 50px;
    transition: 0.3s 0s linear;
}
.h-imp-rating-img:hover {
    scale: 1.1;
}
.h-imp-rating-hr {
    grid-area: hr1;
    width: 90%;
    border: 3px #007bff solid;
    border-radius: 15px;
}
.h-imp-rating-rev-name {
    grid-area: h-imp-rating-rev-name;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    color: #333;
    margin-bottom: 0px;
}
.h-imp-rating-hr-2 {
    grid-area: hr2;
    width: 90%;
    border: 3px #007bff solid;
    border-radius: 15px;
}
.h-imp-rating-rev-word {
    grid-area: h-imp-rating-rev-word;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 0px;
    text-align: center;
}

/* --------------------------------------------- */
/* Meet The Team */

.h-team {
    width: 1430px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 7px 25px #1234564b;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px repeat(1, 1fr);
}
.h-team-title {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 42px;
    text-align: center;
    color: #333;
    margin: 0;
}
.h-team-carousel-inner {
    position: relative;
    overflow: hidden;
}
.h-team-carousel-buttons {
    width: 5%;
    height: 80%;
}
.h-team-div {
    display: grid;
    grid-template-columns: 250px repeat(1, 1fr);
    grid-template-rows: 80px 50px 110px 70px;
    gap: 10px;
    grid-template-areas:
        "h-team-div-img h-team-name h-team-title"
        "h-team-div-img h-team-work h-team-work"
        "h-team-div-img h-team-word h-team-word"
        "h-team-div-img h-team-skills h-team-url";
}
.h-team-div-img {
    grid-area: h-team-div-img;
}
.h-team-img {
    width: 250px;
    height: 360px;
    transition: 0.3s 0s linear;
}
.h-team-img-2 {
    display: none;
    width: 430px;
    transition: 0.3s 0s linear;
}
.h-team-img:hover, .h-team-img-2:hover {
    scale: 1.2;
}
.h-team-name {
    grid-area: h-team-name;
    margin: 25px 0px;
}
.h-team-mohammed-title {
    font-size: 22px;
    font-weight: 600;
}
.h-team-work {
    grid-area: h-team-work;
    margin: 10px 0px;
}
.h-team-word {
    grid-area: h-team-word;
    font-size: 25px;
    font-weight: 400;
}
.h-team-1-skills {
    grid-area: h-team-skills;
    display: grid;
    grid-template-columns: repeat(2, 50px);
    gap: 10px;
    font-size: 72px;
}
.h-team-2-skills {
    grid-area: h-team-skills;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
    font-size: 72px;
}

.h-team-1-url {
    grid-area: h-team-url;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.h-team-2-url {
    grid-area: h-team-url;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.h-facebook-team-icon, .h-instagram-team-icon, .h-github-team-icon {
    margin-right: 10px;
    color: #333;
    font-size: 52px;
    transition: 0.3s 0s linear;
}
.h-facebook-team-icon:hover, .h-instagram-team-icon:hover, .h-github-team-icon:hover {
    color: #494949;
    font-size: 52px;
}
