/* Home */
@media (max-width: 768px) {
  .login-place {
      --bs-modal-margin: 5.75rem !important;
    }
    .h-header {
      grid-template-rows: repeat(1, 1fr) 620px;
    }
    .h-title {
      width: 100%;
    }
    .h-TitleCard {
      font-size: 112px;
    }
    .h-TitleAlign {
      font-size: 38px;
    }

    .h-gallery {
      display: none;
    }
    .h-gallery-phone {
      display: block;
    }
    
    .h-grid-information {
      display: none;
    }
    .h-grid-information-phone {
      display: block;
    }
    
    .h-reviews {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 510px 400px;
      width: 640px;
    }
    .h-rating {
      width: 467px;
    }
    .h-rating-side, .h-rating-middle {
      width: 100%;
    }
    .right {
      display: none;
    }
    .h-imp-rating {
      width: 467px;
    }

    .h-team {
      width: 430px;
      height: 700px;
      grid-template-columns: repeat(1, 430px);
      grid-template-rows: 50px 15px 635px;
    }
    .h-team-div {
      justify-items: center;
      align-items: center;
      grid-template-rows: 250px 65px 0px 40px 100px 70px 50px;
      grid-template-areas: 
      "h-team-div-img h-team-div-img h-team-div-img"
      "h-team-name h-team-name h-team-name"
      "h-team-title h-team-title h-team-title"
      "h-team-work h-team-work h-team-work"
      "h-team-word h-team-word h-team-word"
      "h-team-skills h-team-skills h-team-skills"
      "h-team-url h-team-url h-team-url";
    }
    .h-team-div-img {
      height: 250px;
    }
    .h-team-img {
      display: none;
    }
    .h-team-img-2 {
      display: block;
    }
    .h-team-name {
      margin: 0;
      text-align: center;
    }
    .h-team-word {
      text-align: center;
    }
}
/* ---------------------------------------------------------------------- */
/* Generator */
@media (min-width: 1367px) and (max-width: 1679px) {
  
  .login-place {
    --bs-modal-margin: 6rem !important;
  }

  .g-header {
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 600px;
  }
  .g-title {
    width: 90%;
    height: 500px;
  }
  .g-title-backdrop {
    width: 100%;
    height: 500px;
  }
  .g-TitleCard {
    font-size: 158px;
    height: 162px;
  }
  .g-TitleModel {
    font-size: 32px;
  }
  .g-TitleAlign {
    font-size: 34px;
  }

  .g-title-div-img {
    width: 90%;
    height: 385px;
  }
  .g-title-img {
    width: 95%;
    height: 300px;
    scale: 1.3;
    margin-top: -50px;
  }

  .g-main-content {
    grid-template-columns: 45% 24% 31%;
    grid-template-rows: 590px 370px;
  }

  .g-check-widgets {
    width: 80%;
    height: 520px;
    margin-left: 50px;
  }
  .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
    height: 220px;
  }

  .g-range {
    width: 100%;
    height: 520px;
    margin-left: 0;
  }
  .g-range-gen {
    width: 60%;
  }

  .g-password {
    width: 95%;
    margin-left: 50px;
  }
  .g-password-copy {
    width: 60%;
    position: relative;
    left: 30%;
    margin: 0;
  }
  .g-password-save {
    width: 60%;
  }
  .g-password-gen {
    width: 60%;
    position: relative;
    right: 30%;
    margin: 0;
  }
  #SaveModal {
    --bs-modal-margin: 7.75rem;
  }

  .g-div-img-2, .g-div-img-3 {
    width: 100%;
    height: 430px;
  }
  .g-img-2, .g-img-3 {
    width: 100%;
    height: 430px;
  }
}
/* ---------------------------------------- Laptops 1366px 14.inch */
@media (min-width: 1050px) and (max-width: 1366px) {
  
  .login-place {
    --bs-modal-margin: 6rem !important;
  }

  .g-header {
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 600px;
  }
  .g-title {
    width: 90%;
    height: 500px;
  }
  .g-title-backdrop {
    width: 100%;
    height: 500px;
  }
  .g-TitleCard {
    font-size: 158px;
    height: 162px;
  }
  .g-TitleModel {
    font-size: 32px;
  }
  .g-TitleAlign {
    font-size: 34px;
  }

  .g-title-div-img {
    width: 90%;
    height: 385px;
  }
  .g-title-img {
    width: 95%;
    height: 240px;
    scale: 1.3;
    margin-top: -50px;
  }

  .g-main-content {
    grid-template-columns: 48% 27% 25%;
    grid-template-rows: 590px 370px;
  }

  .g-check-widgets {
    width: 80%;
    height: 520px;
    margin-left: 50px;
  }
  .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
    height: 220px;
  }

  .g-range {
    width: 100%;
    height: 520px;
    margin-left: 0;
  }
  .g-range-gen {
    width: 60%;
  }

  .g-password {
    width: 95%;
    margin-left: 50px;
  }
  .g-password-copy {
    width: 60%;
    position: relative;
    left: 30%;
    margin: 0;
  }
  .g-password-save {
    width: 60%;
  }
  .g-password-gen {
    width: 60%;
    position: relative;
    right: 30%;
    margin: 0;
  }
  #SaveModal {
    --bs-modal-margin: 7.75rem;
  }

  .g-div-img-2, .g-div-img-3 {
    width: 100%;
    height: 360px;
  }
  .g-img-2, .g-img-3 {
    width: 100%;
    height: 360px;
  }
}
/* ---------------------------------------- Laptops Small 10.inch */
@media (min-width: 769px) and (max-width: 1049px) {
     
  .login-place {
    --bs-modal-margin: 2.75rem !important;
  }

  .g-header {
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 500px;
  }
  .g-title {
    width: 90%;
    height: 400px;
    margin: 40px;
  }
  .g-title-backdrop {
    width: 100%;
    height: 400px;
  }
  .g-TitleCard {
    font-size: 100px;
    height: 100px;
  }
  .g-TitleModel {
    font-size: 22px;
  }
  .g-TitleAlign {
    font-size: 24px;
  }

  .g-title-div-img {
    width: 90%;
    height: 250px;
    margin-top: 150px;
  }
  .g-title-img {
      width: 100%;
      height: 200px;
      scale: 1.2;
   }

  .g-main-content {
    grid-template-columns: 48% 27% 25%;
    grid-template-rows: 430px 245px 370px;
    grid-template-areas:
    "g-check-widgets g-range g-range"
    "g-img-2 g-img-3 ."
    "g-password g-password g-password";
  }

  .g-check-widgets {
    width: 100%;
    height: 420px;
    grid-template-rows: 200px 200px;
    margin-left: 50px;
    gap: 0px;
  }
  .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
    width: 80%;
    height: 170px;
  }
  .g-check-text {
    font-size: 27px;
  }

  .g-range {
    width: 80%;
    height: 370px;
    margin-left: 50px;
  }
  .g-range-gen {
    width: 60%;
  }

  .g-password {
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
  }
  .g-password-copy {
    width: 60%;
    position: relative;
    left: 30%;
    margin: 0;
  }
  .g-password-save {
    width: 60%;
  }
  .g-password-gen {
    width: 60%;
    position: relative;
    right: 30%;
    margin: 0;
  }

  .g-div-img-2, .g-div-img-3 {
    width: 100%;
    height: 360px;
  }
  .g-img-2, .g-img-3 {
    width: 100%;
    height: 360px;
  }
}
/* ---------------------------------------- Phones & Tabs */
@media (max-width: 768px) {
  .login-place {
    --bs-modal-margin: -5px !important;
  }
  
  .g-title-div-img, .g-div-img-2, .g-div-img-3 {
    display: none;
  }

  /* ---------------------------------------- */
    .g-header {
      grid-template-columns: 100%;
      width: 100%;
      height: 480px;
    }
    .g-title {
      width: 90%;
      height: 420px;
      margin: 18px;
    }
    .g-title-backdrop {
      width: 100%;
      height: 420px;
    }
    .g-TitleCard {
      font-size: 74px;
      height: 70px;
      }
    .g-TitleModel {
        font-size: 18px;
    }
    .g-TitleAlign {
      font-size: 19px;
    }

    .g-main-content {
      grid-template-columns: 100%;
      grid-template-rows: 350px 280px 400px;
      grid-template-areas:
          "g-check-widgets g-check-widgets g-check-widgets"
          "g-range g-range g-range"
          "g-password g-password g-password";
      justify-items: center;
      width: 100%;
      margin-top: 100px;
    }

    .g-check-widgets {
      grid-template-columns: 50% 50%;
      grid-template-rows: 150px 160px;
      width: 90%;
      height: 150px;
      margin: 0;
      margin-left: -18px;
      gap: 10px;
    }
    .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
      font-size: 32px;
      width: 100%;
      height: 150px;
    }
    .g-check-text {
      font-size: 25px;
    }

    .g-range {
      width: 90%;
      height: 220px;
      margin: 0;
    }
    .g-range-gen {
      width: 50%;
    }

    .g-password {
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 80px 50px 50px 45px;
      grid-template-areas:
          "g-password-input g-password-input g-password-input"
          "g-password-copy g-password-copy g-password-copy"
          "g-password-gen g-password-gen g-password-gen"
          "g-password-save g-password-save g-password-save"
          "g-save-text g-save-text g-save-text";
      height: 270px;
      width: 90%;
      margin: 0;
    }
    .g-password-input {
      font-size: 32px;
      margin-top: 10px;
      width: 90%;
    }
    .g-password span {
        font-size: 20px;
    }
    .g-password-copy {
      border-radius: 5px;
      font-size: 20px;
      width: 80%;
      margin: 0;
    }
    .g-password-save {
      border-radius: 5px;
      font-size: 20px;
      width: 80%;
    }
    .g-password-gen {
      border-radius: 5px;
      font-size: 20px;
      width: 80%;
      margin: 0;
    }
    #SaveModal {
      --bs-modal-margin: 0.75rem;
    }
}
/* ---------------------------------------- Edit Design */
@media (min-width: 670px) and (max-width: 768px) {
  .g-main-content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 270px;
    grid-template-areas:
        "g-check-widgets g-range g-range"
        "g-password g-password g-password";
    margin-top: 100px;
  }
  .g-check-widgets {
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 160px;
    width: 90%;
    height: 150px;
    margin: 0;
    margin-left: 10px;
    gap: 10px;
  }
  .g-range {
    width: 90%;
    height: 312px;
    margin: 0;
  }
  .g-password {
    grid-template-rows: 85px 42px 72px;
    grid-template-areas:
        "g-password-input g-password-input g-password-input"
        "g-password-copy g-password-gen g-password-save"
        "g-save-text g-save-text g-save-text";
    height: 200px;
    margin-left: 10px;
    width: 94%;
  }
}
/* ---------------------------------------- Edit Design */
@media (min-width: 490px) and (max-width: 768px) {
    .g-header {
      height: 550px;
    }
    .g-title {
      height: 450px;
      margin: 20px;
    }
    .g-title-backdrop {
      height: 450px;
    }
    .g-TitleCard {
      font-size: 126px;
      height: 140px;
      }
    .g-TitleModel {
        font-size: 22px;
    }
    .g-TitleAlign {
      font-size: 28px;
    }

    .g-check-text {
      font-size: 27px;
    }

    .g-password {
      grid-template-rows: 85px 42px 72px;
      grid-template-areas:
          "g-password-input g-password-input g-password-input"
          "g-password-copy g-password-gen g-password-save"
          "g-save-text g-save-text g-save-text";
      height: 200px;
    }
}
/* ---------------------------------------- */
