/* Home */
@media (min-width: 1367px) and (max-width: 1679px) {
  .h-main-content {
    width: 100%;
  }

  .h-gallery {
    width: 100%;
  }
  .col-gallery {
    height: 580px;
  }
  .card-generator-img, .card-WannaPlay-img, .card-wordlist-img, .card-ai-img {
    width: 100%;
  }
  .card-generator-footer, .card-WannaPlay-footer, .card-wordlist-footer, .card-ai-footer {
    font-size: 25px;
  }

  .h-grid-information {
    width: 85%;
  }
  .h-information {
    width: 100%;
  }
  /* .h-information-card-1, .h-information-card-2, .h-information-card-3 {
    width: 100%;
  } */
  .container {
    max-width: none;
  }
  .col-information {
    width: 99%;
  }

  .h-reviews {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "h-rating h-rating h-imp-rating";
  }
  .h-rating {
    grid-area: h-rating;
    width: 100%;
  }
  .h-imp-rating {
    grid-area: h-imp-rating;
    width: 100%;
  }
  .h-imp-rating-rev-word {
    font-size: 18px;
  }
  
  .h-grid-team {
    width: 85%;
  }
  .h-team {
    width: 100%;
  }
}
/* ---------------------------------------- Laptops 1366px 14.inch */
@media (min-width: 1101px) and (max-width: 1366px) {  
  .h-main-content {
    width: 100%;
  }

  .h-gallery {
    width: 90%;
  }
  .col-gallery {
    height: 500px;
  }
  .card-generator-img, .card-WannaPlay-img, .card-wordlist-img, .card-ai-img {
    width: 100%;
  }
  .card-generator-footer, .card-WannaPlay-footer, .card-wordlist-footer, .card-ai-footer {
    font-size: 19px;
  }

  .h-grid-information {
    width: 85%;
  }
  .h-information {
    width: 100%;
  }
  /* .h-information-card-1, .h-information-card-2, .h-information-card-3 {
    width: 100%;
  } */
  .container {
    max-width: none;
  }
  .col-information {
    width: 99%;
  }

  .h-reviews {
    width: 85%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "h-rating h-rating h-imp-rating";
  }
  .h-rating {
    grid-area: h-rating;
    width: 100%;
  }
  .h-imp-rating {
    grid-area: h-imp-rating;
    width: 100%;
  }
  .h-imp-rating-rev-word {
    font-size: 18px;
  }
  
  .h-grid-team {
    width: 85%;
  }
  .h-team {
    width: 100%;
  }
}
/* ---------------------------------------- Laptops Small 10.inch */
@media (min-width: 769px) and (max-width: 1100px) {
  .h-main-content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 700px 580px 430px;
    gap: 10px;
    grid-template-areas:
        "h-gallery-phone h-grid-information-phone"
        "h-reviews h-reviews"
        "h-grid-team h-grid-team";
  }
  
  .h-gallery {
    display: none;
  }
  .h-gallery-phone {
    display: block;
    margin: 0;
    height: 600px;
  }
  #h-gallery-phone-carousel {
    height: 600px;
  }
  .h-gallery-phone-inner {
    height: 620px;
  }
  .h-gallery-phone-card-1, .h-gallery-phone-card-2, .h-gallery-phone-card-3, .h-gallery-phone-card-4 {
    height: 600px;
  }
  .card-generator-img, .card-WannaPlay-img, .card-wordlist-img, .card-ai-img {
    width: 100%;
  }
  .carousel-control-prev-card {
    left: 0%;
    top: 81%;
    height: 52px;
  }
  .carousel-control-next-card {
    left: 85%;
    top: 81%;
    height: 52px;
  }

  .h-grid-information {
    display: none;
  }
  .h-grid-information-phone {
    display: block;
    height: 600px;
    width: 90%;
  }
  .h-grid-information-phone-inner {
    border-radius: 15px;
  }
  .h-information-card-1, .h-information-card-2, .h-information-card-3 {
    height: 600px;
    width: 100%;
  }
  .h-information-card-1-text, .h-information-card-2-text, .h-information-card-3-text {
    top: 68%;
  }
  .carousel-control-prev-info {
    left: 0;
  }
  .carousel-control-next-info {
    left: 85%;
  }

  .h-reviews {
    display: grid;
    grid-area: h-reviews;
    grid-template-columns: repeat(1, 50%);
    grid-template-rows: 0;
    grid-template-areas: "h-rating h-imp-rating";
    width: 97%;
    height: 530px;
  }
  .h-rating {
    grid-area: h-rating;
    height: 500px;
    width: 100%;
  }
  .h-rating-header {
    font-size: 28px;
  }
  .h-rating-side {
    width: 14%;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .h-imp-rating {
    grid-area: h-imp-rating;
    height: 500px;
    width: 100%;
  }
  .h-imp-rating-view {
    grid-template-rows: 40px 100px 15px 15px 15px 250px;
  }

  .h-grid-team {
    grid-area: h-grid-team;
    width: 90%;
  }
  .h-team-div {
    grid-template-rows: 80px 45px 110px 75px;
  }
  .h-team {
    width: 100%;
    height: 404px;
  }
}
/* ---------------------------------------- Phones & Tabs */
@media (max-width: 768px) {
  .login-place {
      --bs-modal-margin: 5.75rem !important;
    }
    .waves {
      height:40px;
      min-height:40px;
    }
    .h-header-text {
        font-size:38px;
    }

    .h-gallery {
      display: none;
    }
    .h-gallery-phone {
      display: block;
      margin: 50px 0px;
    }
    .carousel-control-prev-card {
      left: 0rem;
      top: 20rem;
    }
    .card-generator-img, .card-WannaPlay-img, .card-wordlist-img, .card-ai-img {
      width: 100%;
    }
    .card-generator-link {
      padding: 12px 29.89%;
    }
    .card-wordlist-link {
      padding: 12px 31.6%;
    }
    .card-ai-link {
      padding: 12px 9.1%;
    }

    .carousel-control-prev-card {
      left: 0%;
      top: 50%;
    }
    .carousel-control-next-card {
      left: 86%;
      top: 50%;
    }

    .h-main-content {
      width: 100%;
    }

    .h-grid-information {
      display: none;
    }
    .h-grid-information-phone {
      display: block;
      width: 90%;
    }
    #h-grid-information-phone {
      width: 100%;
    }

    .h-information-card-1, .h-information-card-2, .h-information-card-3 {
      width: 100%;
      height: 420px;
      overflow: hidden;
    }
    .h-information-card-1-text, .h-information-card-2-text, .h-information-card-3-text {
      top: 55%;
    }
    .carousel-control-prev-info {
      left: 0%;
      top: 0;
    }
    .carousel-control-next-info {
      left: 85%;
    }
    
    .h-reviews {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 510px 400px;
      width: 100%;
    }
    .h-rating {
      width: 90%;
    }
    .h-rating-header {
      font-size: 28px;
    }
    .h-rating-side, .h-rating-middle {
      width: 100%;
    }
    .right {
      display: none;
    }
    .h-imp-rating {
      width: 90%;
    }
    .h-imp-rating-rev-word {
      font-size: 18px;
    }

    .h-grid-team {
      width: 90%;
      display: grid;
      justify-items: center;
    }
    .h-team {
      width: 100%;
      height: 720px;
      grid-template-rows: 50px 15px 635px;
    }
    .h-team-div {
      width: 100%;
      justify-items: center;
      align-items: center;
      text-align: center;
      grid-template-rows: 250px 65px 0px 40px 100px 70px 70px;
      grid-template-areas: 
      "h-team-div-img h-team-div-img h-team-div-img"
      "h-team-name h-team-name h-team-name"
      "h-team-title h-team-title h-team-title"
      "h-team-work h-team-work h-team-work"
      "h-team-word h-team-word h-team-word"
      "h-team-skills h-team-skills h-team-skills"
      "h-team-url h-team-url h-team-url";
    }
    .h-team-div-img {
      height: 250px;
    }
    .h-team-img {
      display: none;
    }
    .h-team-img-2 {
      display: block;
      width: 100%;
    }
    .h-team-name {
      margin: 0;
      text-align: center;
    }
    .h-team-word {
      text-align: center;
    }
}
/* ---------------------------------------- Edit Design */
@media (min-width: 1500px) and (max-width: 1679px) {
  .col-gallery {
    height: 660px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
    .h-main-content {
      display: grid;
      height: 2140px;
      justify-items: center;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 580px 580px 760px;
      gap: 10px;
      grid-template-areas:
          "h-gallery-phone h-grid-information-phone"
          "h-reviews h-reviews"
          "h-grid-team h-grid-team";
    }
    
    .h-gallery-phone {
      margin: 0;
      height: 400px;
    }
    #h-gallery-phone-carousel {
      height: 450px;
    }
    .h-gallery-phone-card-1, .h-gallery-phone-card-2, .h-gallery-phone-card-3, .h-gallery-phone-card-4 {
      height: 450px;
    }
    .carousel-control-prev-card {
      left: 0%;
      top: 74%;
      height: 52px;
    }
    .carousel-control-next-card {
      left: 85%;
      top: 74%;
      height: 52px;
    }

    .h-grid-information-phone {
      height: 400px;
    }
    .h-information-card-1, .h-information-card-2, .h-information-card-3 {
      height: 450px;
    }

    .h-reviews {
      display: grid;
      grid-area: h-reviews;
      grid-template-columns: repeat(1, 50%);
      grid-template-rows: 0;
      grid-template-areas: "h-rating h-imp-rating";
      height: 530px;
    }
    .h-rating {
      grid-area: h-rating;
      height: 500px;
    }
    .h-imp-rating {
      grid-area: h-imp-rating;
      height: 500px;
    }
    .h-imp-rating-view {
      grid-template-rows: 40px 100px 15px 15px 15px 250px;
    }

    .h-grid-team {
      grid-area: h-grid-team;
    }
}
/* ---------------------------------------- Edit Fonts Design */
@media (min-width: 600px) and (max-width: 668px) {
  .card-generator-footer {
    font-size: 22px;
  }
  .card-wordlist-footer {
    font-size: 24px;
  }
  .card-ai-footer {
    font-size: 22px;
  }

  .h-rating-header {
    font-size: 24px;
  }

}
@media (min-width: 500px) and (max-width: 599px) {
  .h-gallery-phone {
    height: 570px;
  }
  .h-gallery-phone-inner {
    height: 570px;
  }
  .h-gallery-phone-card-1, .h-gallery-phone-card-2, .h-gallery-phone-card-3, .h-gallery-phone-card-4 {
    height: 570px;
  }
}
@media (min-width: 320px) and (max-width: 340px) {
  .h-team-title {
    font-size: 38px;
  }
  .h-reviews {
    gap: 70px;
  }
}

/* ---------------------------------------------------------------------- */

/* Generator */
@media (min-width: 1367px) and (max-width: 1679px) {
  .login-place {
    --bs-modal-margin: 6rem !important;
  }

  .g-main-content {
    grid-template-columns: 45% 24% 31%;
    grid-template-rows: 590px 370px;
  }

  .g-check-widgets {
    width: 80%;
    height: 520px;
    margin-left: 50px;
  }
  .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
    height: 220px;
  }

  .g-range {
    width: 100%;
    height: 520px;
    margin-left: 0;
  }
  .g-range-gen {
    width: 60%;
  }

  .g-password {
    width: 95%;
    margin-left: 50px;
  }
  .g-password-copy {
    width: 60%;
    position: relative;
    left: 30%;
    margin: 0;
  }
  .g-password-save {
    width: 60%;
  }
  .g-password-gen {
    width: 60%;
    position: relative;
    right: 30%;
    margin: 0;
  }
  #SaveModal {
    --bs-modal-margin: 7.75rem;
  }

  .g-div-img-2, .g-div-img-3 {
    width: 100%;
    height: 430px;
  }
  .g-img-2, .g-img-3 {
    width: 100%;
    height: 430px;
  }
}
/* ---------------------------------------- Laptops 1366px 14.inch */
@media (min-width: 1050px) and (max-width: 1366px) {  
  .login-place {
    --bs-modal-margin: 6rem !important;
  }

  .g-main-content {
    grid-template-columns: 48% 27% 25%;
    grid-template-rows: 590px 370px;
  }

  .g-check-widgets {
    width: 80%;
    height: 520px;
    margin-left: 50px;
  }
  .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
    height: 220px;
  }

  .g-range {
    width: 100%;
    height: 520px;
    margin-left: 0;
  }
  .g-range-gen {
    width: 60%;
  }

  .g-password {
    width: 95%;
    margin-left: 50px;
  }
  .g-password-copy {
    width: 60%;
    position: relative;
    left: 30%;
    margin: 0;
  }
  .g-password-save {
    width: 60%;
  }
  .g-password-gen {
    width: 60%;
    position: relative;
    right: 30%;
    margin: 0;
  }
  #SaveModal {
    --bs-modal-margin: 7.75rem;
  }

  .g-div-img-2, .g-div-img-3 {
    width: 100%;
    height: 360px;
  }
  .g-img-2, .g-img-3 {
    width: 100%;
    height: 360px;
  }
}
/* ---------------------------------------- Laptops Small 10.inch */
@media (min-width: 769px) and (max-width: 1049px) {  
  .login-place {
    --bs-modal-margin: 2.75rem !important;
  }

  .g-main-content {
    grid-template-columns: 48% 27% 25%;
    grid-template-rows: 430px 245px 370px;
    grid-template-areas:
        "g-check-widgets g-range g-range"
        ". g-img-2 g-img-3"
        "g-password g-password g-password";
  }

  .g-check-widgets {
    width: 100%;
    height: 420px;
    grid-template-rows: 200px 200px;
    margin-left: 50px;
    gap: 0px;
  }
  .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
    width: 80%;
    height: 170px;
  }
  .g-check-text {
    font-size: 27px;
  }

  .g-range {
    width: 80%;
    height: 370px;
    margin-left: 50px;
  }
  .g-range-gen {
    width: 60%;
  }

  .g-password {
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
  }
  .g-password-copy {
    width: 60%;
    position: relative;
    left: 30%;
    margin: 0;
  }
  .g-password-save {
    width: 60%;
  }
  .g-password-gen {
    width: 60%;
    position: relative;
    right: 30%;
    margin: 0;
  }

  .g-div-img-2, .g-div-img-3 {
    width: 100%;
    height: 360px;
  }
  .g-img-2, .g-img-3 {
    width: 100%;
    height: 360px;
  }
}
/* ---------------------------------------- Phones & Tabs */
@media (max-width: 768px) {
  .login-place {
    --bs-modal-margin: -5px !important;
  }
  
  .g-title-div-img, .g-div-img-2, .g-div-img-3 {
    display: none;
  }

  /* ---------------------------------------- */
  .waves {
    height:40px;
    min-height:40px;
  }
  .g-header-text {
      font-size:48px;
      margin-bottom: 0;
  }

    .g-main-content {
      grid-template-columns: 100%;
      grid-template-rows: 350px 280px 400px;
      grid-template-areas:
          "g-check-widgets g-check-widgets g-check-widgets"
          "g-range g-range g-range"
          "g-password g-password g-password";
      justify-items: center;
      width: 100%;
      margin-top: 100px;
    }

    .g-check-widgets {
      grid-template-columns: 50% 50%;
      grid-template-rows: 150px 160px;
      width: 90%;
      height: 150px;
      margin: 0;
      margin-left: -18px;
      gap: 10px;
    }
    .g-check-1, .g-check-2, .g-check-3, .g-check-4 {
      font-size: 32px;
      width: 100%;
      height: 150px;
    }
    .g-check-text {
      font-size: 25px;
    }

    .g-range {
      width: 90%;
      height: 220px;
      margin: 0;
    }
    .g-range-gen {
      width: 50%;
    }

    .g-password {
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 80px 50px 50px 45px;
      grid-template-areas:
          "g-password-input g-password-input g-password-input"
          "g-password-copy g-password-copy g-password-copy"
          "g-password-gen g-password-gen g-password-gen"
          "g-password-save g-password-save g-password-save"
          "g-save-text g-save-text g-save-text";
      height: 270px;
      width: 90%;
      margin: 0;
    }
    .g-password-input {
      font-size: 32px;
      margin-top: 10px;
      width: 90%;
    }
    .g-password span {
        font-size: 20px;
    }
    .g-password-copy {
      border-radius: 5px;
      font-size: 20px;
      width: 80%;
      margin: 0;
    }
    .g-password-save {
      border-radius: 5px;
      font-size: 20px;
      width: 80%;
    }
    .g-password-gen {
      border-radius: 5px;
      font-size: 20px;
      width: 80%;
      margin: 0;
    }
    #SaveModal {
      --bs-modal-margin: 0.75rem;
    }
}
/* ---------------------------------------- Edit Design */
@media (min-width: 670px) and (max-width: 768px) {
  .g-main-content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 270px;
    grid-template-areas:
        "g-check-widgets g-range g-range"
        "g-password g-password g-password";
    margin-top: 100px;
  }
  .g-check-widgets {
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 160px;
    width: 90%;
    height: 150px;
    margin: 0;
    margin-left: 10px;
    gap: 10px;
  }
  .g-range {
    width: 90%;
    height: 312px;
    margin: 0;
  }
  .g-password {
    grid-template-rows: 85px 42px 72px;
    grid-template-areas:
        "g-password-input g-password-input g-password-input"
        "g-password-copy g-password-gen g-password-save"
        "g-save-text g-save-text g-save-text";
    height: 200px;
    margin-left: 10px;
    width: 94%;
  }
}
/* ---------------------------------------- Edit Design */
@media (min-width: 490px) and (max-width: 768px) {
    .g-check-text {
      font-size: 27px;
    }

    .g-password {
      grid-template-rows: 85px 42px 72px;
      grid-template-areas:
          "g-password-input g-password-input g-password-input"
          "g-password-copy g-password-gen g-password-save"
          "g-save-text g-save-text g-save-text";
      height: 200px;
    }
}

/* ---------------------------------------------------------------------- */

/* Wordlist */
@media (min-width: 1367px) and (max-width: 1679px) {  
  .login-place {
    --bs-modal-margin: 6rem !important;
  }

  .w-main-content {
    width: 100%;
  }
  .w-main-center {
    width: 35%;
  }
}
/* ---------------------------------------- Laptops 1366px 14.inch */
@media (min-width: 1050px) and (max-width: 1366px) {
  .login-place {
    --bs-modal-margin: 6rem !important;
  }

  .w-main-content {
    width: 100%;
  }
  .w-main-center {
    width: 35%;
  }
}
/* ---------------------------------------- Laptops Small 10.inch */
@media (min-width: 769px) and (max-width: 1049px) {
     
  .login-place {
    --bs-modal-margin: 2.75rem !important;
  }
  
  .w-main-content {
    width: 100%;
  }
  .w-main-center {
    width: 50%;
  }
}
/* ---------------------------------------- Phones & Tabs */
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .w-header-text {
      font-size:48px;
      margin-bottom: 0;
  }

  .w-why-how {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
  .w-wordlist-why {
    width: 100%;
    font-size: 19px;
  }
  .w-wordlist-how {
      width: 100%;
      font-size: 19px;
  }

  .w-main-content {
    width: 100%;
  }
  .w-main-center {
    width: 90%;
  }
}
/* ---------------------------------------------------------------------- */

/* WannaPlay */
@media (max-width: 768px){
  .waves {
    height:40px;
    min-height:40px;
  }
  .w-header-text {
      font-size:48px;
      margin-bottom: 0;
  }

  .p-main-content {
    width: 100%;
  }

  .p-why-how {
    width: 100%;
    flex-direction: column;
    padding: 10px;
  }
  .p-playpass-why {
    width: 100%;
    font-size: 19px;
  }
  .p-playpass-how {
      width: 100%;
      font-size: 19px;
  }

  .p-div-playpass {
    width: 100%;
  }
  .p-playpass-header {
    font-size: 22px;
  }
  .p-playpass {
    width: 95%;
  }
  .p-playpass-number {
    font-size: 18px;
  }
  .p-surrender-message, .p-copy-message, .p-winner-message, .p-country-wrong {
    font-size: 17px;
  }

  .p-playpass-rule {
    width: 90%;
  }
  .p-rule-box {
    width: 100%;
  }
  .p-rule-box-rule {
    font-size: 18px;
  }

  .r8 {
    grid-template-columns: repeat(3, 33%);
    height: 230px;
  }
  .p-rule-box-div-img {
    gap: 15px;
  }
  .p-rule-box-img {
    width: 30%;
  }
}
/* ---------------------------------------- Edit Design */
@media (min-width: 600px) and (max-width: 768px) {
  .p-surrender-message, .p-copy-message, .p-winner-message, .p-country-wrong {
    font-size: 22px;
  }

  .r8 {
    grid-template-rows: 20px 20px 35px 140px;
  }
  .p-rule-box-div-img {
    gap: 10px;
  }
  .p-rule-box-img {
    width: 21%;
  }
}
/* ---------------------------------------- Edit Design */
@media (min-width: 410px) and (max-width: 600px) {
  .p-surrender-message, .p-copy-message, .p-winner-message, .p-country-wrong {
    font-size: 20px;
  }

  .p-playpass-rule {
    width: 80%;
  }

  .p-rule-box-img {
    width: 25%;
  }
}

/* ---------------------------------------------------------------------- */