@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

.wordlist-body {
    background-color: #EDF2F7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color: #407bff;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #9233ff;
}

/* -------------------------------------------------------------------------------------------------- */
/* Header */

.w-header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, #007bff 0%, #0068ff 100%);
    color: white;
}
.w-header-text {
    font-family: 'Rubik', Arial, sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size: 82px;
    margin-bottom: 10px;
}
.w-header-area {
    font-family: 'Rubik', Arial, sans-serif;
    font-weight:100;
    letter-spacing: 2px;
    font-size:52px;
}
.w-inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}
/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
    .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
    .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
    .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
    .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

/* --------------------------------------------- */
/* Main Content */

.w-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1660px;
    padding: 60px;
}
.w-main-center {
    width: 25%;
}

.w-wordlist {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 60px 100px 110px 325px 50px;
    gap: 10px;
    grid-template-areas:
        "div-char"
        "div-char"
        "div-range"
        "buttons"
        "div-alerts";
}

.w-wordlist-div-char {
    grid-area: div-char;
}
.w-wordlist-char-l {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    margin-left: 30px;
}
.w-wordlist-char {
    margin-left: 10px;
    width: 95%;
    height: 40px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 120px #DDDDF9;
}

.w-wordlist-div-range {
    grid-area: div-range;
    display: grid;
    grid-template-columns: 13% 23% 18% 46%;
    grid-template-rows: 50px 45px;
    grid-template-areas:
        "l-range l-range l-range l-range"
        "label-min range-min label-max range-max";
    align-items: center;
}
.w-wordlist-range-l {
    grid-area: l-range;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    margin-left: 30px;
}
.w-wordlist-range-min {
    grid-area: range-min;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 120px #DDDDF9;
}
.w-wordlist-range-min-l {
    grid-area: label-min;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
}
.w-wordlist-range-max {
    grid-area: range-max;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 120px #DDDDF9;
}
.w-wordlist-range-max-l {
    grid-area: label-max;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
}

.w-wordlist-div-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.w-wordlist-buttons-gen, .w-wordlist-buttons-down {
    width: 95%;
    background-color: #0d6efd;
    color: white;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 28px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    transition: 0.3s 0s linear;
}
.w-wordlist-buttons-gen:hover, .w-wordlist-buttons-down:hover {
    background-color: #0b50b8;
}

.w-wordlist-div-alerts {
    grid-template-areas: div-alerts;
}
.w-wordlist-alert-loading {
    display: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
}
.w-wordlist-alert-ready {
    display: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
    color: #35dc59;
}
.w-wordlist-alert-error-1 , .w-wordlist-alert-error-2, .w-wordlist-alert-error-3, .w-wordlist-alert-error-4, .w-wordlist-alert-error-5, .w-wordlist-alert-error-6 {
    display: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    color: #dc3545;
}
