@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

.wordlist-body {
    background-color: #EDF2F7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color: #407bff;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #9233ff;
}

/* flex */
.col {
    flex: 1 0 50% !important;
}

/* -------------------------------------------------------------------------------------------------- */
/* Header */
.w-header {
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-areas: "w-title w-img";
    background-image: url(../Background/Word\ List/);
    width: 100%;
    height: 800px;
    align-items: center;
    justify-items: center;
}

.w-title {
    grid-area: w-title;
    width: 800px;
    height: 650px;
    margin: 50px;
    background-image: url("../Background/Word\ List/");
    background-repeat: no-repeat;
    background-size: cover;
}
.w-title-backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.8) blur(6px);
}
.w-TitleCard {
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', 'Rubik', Arial, sans-serif;
    font-size: 162px;
    color: white;
    height: 212px;
}
.w-TitleModel {
    color: white;
    font-size: 32px;
}
.w-TitleAlign {
    text-align: center;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 42px;
    color: white;
}

.w-title-div-img {
    grid-area: w-img;
    width: 800px;
    height: 800px;
    pointer-events: none;
}
.w-title-img {
    width: 100%;
    height: 55%;
    margin-top: 145px;
    pointer-events: none;
}
/* --------------------------------------------- */
/* Main Content */

.w-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1660px;
    padding: 60px;
}

.w-wordlist {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40px 60px 100px 110px 325px 50px;
    gap: 10px;
    grid-template-areas:
        "div-char div-list"
        "div-char div-list"
        "div-range div-list"
        "buttons div-list"
        "div-alerts div-list"
        ". down";
}

.w-wordlist-div-char {
    grid-area: div-char;
}
.w-wordlist-char-l {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    margin-left: 30px;
}
.w-wordlist-char {
    margin-left: 10px;
    width: 95%;
    height: 40px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 120px #DDDDF9;
}

.w-wordlist-div-range {
    grid-area: div-range;
    display: grid;
    grid-template-columns: 16% 25% 18% 41%;
    grid-template-rows: 50px 45px;
    grid-template-areas:
        "l-range l-range l-range l-range"
        "label-min range-min label-max range-max";
    align-items: center;
    width: 100%;
}
.w-wordlist-range-l {
    grid-area: l-range;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    margin-left: 30px;
}
.w-wordlist-range-min {
    grid-area: range-min;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 120px #DDDDF9;
}
.w-wordlist-range-min-l {
    grid-area: label-min;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
}
.w-wordlist-range-max {
    grid-area: range-max;
    width: 60px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 120px #DDDDF9;
}
.w-wordlist-range-max-l {
    grid-area: label-max;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
}

.w-wordlist-div-buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.w-wordlist-buttons-gen, .w-wordlist-buttons-down {
    width: 95%;
    background-color: #0d6efd;
    color: white;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 28px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    transition: 0.3s 0s linear;
}
.w-wordlist-buttons-gen:hover, .w-wordlist-buttons-down:hover {
    background-color: #0b50b8;
}

.w-wordlist-div-alerts {
    grid-template-areas: div-alerts;
}
.w-wordlist-alert-loading {
    display: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    margin-left: 10px;
}
.w-wordlist-alert-error-1 , .w-wordlist-alert-error-2, .w-wordlist-alert-error-3, .w-wordlist-alert-error-4, .w-wordlist-alert-error-5, .w-wordlist-alert-error-6 {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    color: #dc3545;
}
.w-wordlist-alert-error-1 {
    display: none;
}
.w-wordlist-alert-error-2 {
    display: none;
}
.w-wordlist-alert-error-3 {
    display: none;
}
.w-wordlist-alert-error-4 {
    display: none;
}
.w-wordlist-alert-error-5 {
    display: none;
}
.w-wordlist-alert-error-6 {
    display: none;
}

.w-wordlist-div-list {
    grid-area: div-list;
}
.w-wordlist-list-l {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    margin-left: 30px;
}
.w-wordlist-list {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 600px;
    max-height: 600px;
    min-height: 600px;
    padding: 10px;
    background-color: white;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 30px #DDDDF9;
}
.w-wordlist-list::-webkit-scrollbar {
    width: 6px;
} 
.w-wordlist-list::-webkit-scrollbar-track {
    background: #eee;
}
.w-wordlist-list::-webkit-scrollbar-thumb {
    background-color: #407bff;
    border-radius: 20px;
}
.w-wordlist-list-down {
    grid-area: down;
    width: 100%;
    background-color: #0d6efd;
    color: white;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 28px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    transition: 0.3s 0s linear;
}
.w-wordlist-list-down:hover {
    background-color: #0b50b8;
}
