@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
.home-body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
}
  
body::-webkit-scrollbar-track {
    background: #eee;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #007bffb4;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #3395ff;
}
/* flex */
.col {
    flex: 1 0 33% !important;
}

/* -------------------------------------------------------------------------------------------------- */
/* header */

.h-header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:"h-title""gallery";
    justify-items: center;
}

.h-title {
    grid-area: h-title;
    display: grid;
    align-content: stretch;
    align-items: end;
    height: 826px;
    width: 100%;
    transition: 0.19s 0s linear;
    background-color: #007BFF;
    box-shadow: 1px 0px 110px 4px lightslategrey, inset 0px 0px 150px 30px #004eff;
    /* animation: colorChange 1s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) infinite; */
}
/* @keyframes colorChange {
    0% { background-image: linear-gradient(11deg, #00a1ff -2%, #007BFF 38%,#007BFF 14%,#1633ff 109%); }
    20% { background-image: linear-gradient(111deg, #00a1ff -2%, #007BFF 38%,#007BFF 14%,#1633ff 109%); }
    40% { background-image: linear-gradient(262deg, #00a1ff -2%, #007BFF 38%,#007BFF 14%,#1633ff 109%); }
    60% { background-image: linear-gradient(282deg, #00a1ff -2%, #007BFF 38%,#007BFF 14%,#1633ff 109%); }
    80% { background-image: linear-gradient(342deg, #00a1ff -2%, #007BFF 38%,#007BFF 14%,#1633ff 109%); }
    100% { background-image: linear-gradient(350deg, #00a1ff -2%, #007BFF 38%,#007BFF 14%,#1633ff 109%); }
} */
.h-title:hover {
    box-shadow: 1px 0px 130px 4px lightslategrey, inset 8px 12px 150px 130px #004eff;
}
.h-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h-TitleCard {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 182px;
    color: white;
    pointer-events: none;
}
.h-TitleAlign {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 52px;
    color: white;
    pointer-events: none;
}

.h-media-icon {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.h-facebook-header-icon, .h-instagram-header-icon, .h-github-header-icon{
    color: #eee;
    height: 60px;
    filter: blur(0.5px);
    transition: 0.3s 0s linear;
}
.h-facebook-header-icon:hover, .h-instagram-header-icon:hover, .h-github-header-icon:hover {
    color: #cecece;
}

/* -------------------------------------------------------------------------------------------------- */
/* header 2 */

.h-gallery {
    grid-area: gallery;
    display: flex;
    align-items: stretch;
    width: 1366px;
}

/* Header 2 Cards */
.card {
    background-color: aliceblue;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
}

.h-cards {
    margin: 100px !important;
}

/* --------------------------------------------- */
/* Generetor Cards */
.card-generator-img {
    width: 365px;
    height: 260px;
    transition: 0.3s 0s linear;
}
.card-generator-img:hover {
    scale: 1.2;
}
.card-generator-footer {
    text-align: center;
    background-color: #6610f2;
    padding: 7px 0px;
    transition: 0.3s 0s linear;
}
.card-generator-footer:hover {
    background-color: #8540f5;
}
.card-generator-link {
    text-decoration: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 26px;
    color: white;
    padding: 12px 120px;
}
/* --------------------------------------------- */

/* --------------------------------------------- */
/* Word List Card */
.card-wordlist-img {
    width: 365px;
    height: 260px;
    transition: 0.3s 0s linear;
}
.card-wordlist-img:hover {
    scale: 1.2;
}
.wordlist-new {
    background-color: #232222;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transform: translate(15%, -5%);
}
.wordlist-new:hover, .wordlist-new:active, .wordlist-new:focus-visible {
    background-color: white !important;
    outline: 1px #232222 solid !important;
    color: #232222 !important;
}
.card-wordlist-footer {
    text-align: center;
    background-color: #0044ff;
    padding: 7px 0px;
    transition: 0.3s 0s linear;
}
.card-wordlist-footer:hover {
    background-color: #0066ff;
}
.card-wordlist-link {
    text-decoration: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 26px;
    color: white;
    padding: 12px 125px;
}
/* --------------------------------------------- */

/* --------------------------------------------- */
/* Artificial Intelligence Card */
.card-ai-img {
    width: 365px;
    height: 260px;
    transition: 0.3s 0s linear;
}
.card-ai-img:hover {
    scale: 1.3;
}
.card-ai-footer {
    text-align: center;
    background-color: #f2104f;
    padding: 7px 0px;
    transition: 0.3s 0s linear;
}
.card-ai-footer:hover {
    background-color: #e34672;
}
.card-ai-link {
    text-decoration: none;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 26px;
    color: white;
    padding: 12px 169px;
}

/* -------------------------------------------------------------------------------------------------- */
/* Main Content */
.h-main-content {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

/* --------------------------------------------- */
/* Information What This Is Made For */
.h-grid-information {
    display: grid;
    justify-content: center;
}

.h-information {
    width: 1430px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 7px 25px #1234564b;
}
.h-information-title {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 72px;
    color: #333;
}
.information-card-body-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
    height: 160px;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
    transition: 0.3s 0s linear;
}
.information-card-body-1:hover {
    box-shadow: 4px 6px 75px 0px #DDDDF3, inset 4px 6px 75px 0px #007a7a;
}
.information-card-body-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6363;
    color: white;
    height: 160px;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
    transition: 0.3s 0s linear;
}
.information-card-body-2:hover {
    box-shadow: 4px 6px 75px 0px #DDDDF3, inset 4px 6px 75px 0px #ff0000;
}
.information-card-body-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6b84ff;
    color: white;
    height: 160px;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
    transition: 0.3s 0s linear;
}
.information-card-body-3:hover {
    box-shadow: 4px 6px 75px 0px #DDDDF3, inset 4px 6px 75px 0px #3859ff;
}
/* --------------------------------------------- */
/* Review */

.h-reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 401px;
    align-items: start;
    justify-items: center;
    width: 1450px;
    gap: 30px;
}

/* --------------------------------------------- */
/* Rating */

.h-rating {
    font-family: 'Rubik', Arial, sans-serif;
    width: 955px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
}
.h-rating-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.h-rating-header {
    text-align: center;
    font-size: 32px;
    margin-right: 25px;
}
.h-rating-stars {
    text-align: center;
    font-size: 32px;
}
.checked {
    color: orange;
} 
.h-rating-side {
    float: left;
    width: 16%;
    margin-left: 40px;
    margin-bottom: 5px;
    font-size: 24px;
}  
.h-rating-middle {
    margin-top:10px;
    float: left;
    width: 70%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.h-rating-bar-container {
    width: 100%;
    background-color: #eee;
    border-radius: 15px;
    text-align: center;
    color: white;
    transition: 0.3s 0s linear;
}
.h-rating-bar-5, .h-rating-bar-4, .h-rating-bar-3, .h-rating-bar-2, .h-rating-bar-1 {
    width: 1%;
    height: 10px;
    border-radius: 15px;
    transition: 0.3s 0s linear;
}
.h-rating-bar-5 {
    background-color: #0077B6;
}
.h-rating-bar-4 {
    background-color: #0096C7;
}
.h-rating-bar-3 {
    background-color: #00B4D8;
}
  .h-rating-bar-2 {
    background-color: #00B4D8;
}
.h-rating-bar-1 {
    background-color: #48CAE4;
}

/* --------------------------------------------- */
/* important reviews */

.h-imp-rating {
    font-family: 'Rubik', Arial, sans-serif;
    width: 476px;
    height: 402px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 6px 75px 0px #DDDDF3;
}
.h-imp-rating-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 90px 15px 15px 25px 160px;
    grid-template-areas:
        "h-imp-rating-title h-imp-rating-title h-imp-rating-title h-imp-rating-title"
        "h-imp-rating-img h-imp-rating-img h-imp-rating-img h-imp-rating-img"
        "hr1 hr1 hr1 hr1"
        "h-imp-rating-rev-name h-imp-rating-rev-name h-imp-rating-rev-name h-imp-rating-rev-name"
        "hr2 hr2 hr2 hr2"
        "h-imp-rating-rev-word h-imp-rating-rev-word h-imp-rating-rev-word h-imp-rating-rev-word";
    justify-items: center;
    align-items: baseline;
    gap: 10px;
}
.h-imp-rating-title {
    grid-area: h-imp-rating-title;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    color: #333;
    margin-bottom: 0px;
}
.h-imp-rating-img {
    grid-area: h-imp-rating-img;
    width: 100px;
    height: 100px;
    border: 4px #333 solid;
    border-radius: 50px;
    transition: 0.3s 0s linear;
}
.h-imp-rating-img:hover {
    scale: 1.1;
}
.h-imp-rating-hr {
    grid-area: hr1;
    width: 90%;
    border: 3px #007bff solid;
    border-radius: 15px;
}
.h-imp-rating-rev-name {
    grid-area: h-imp-rating-rev-name;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    color: #333;
    margin-bottom: 0px;
}
.h-imp-rating-hr-2 {
    grid-area: hr2;
    width: 90%;
    border: 3px #007bff solid;
    border-radius: 15px;
}
.h-imp-rating-rev-word {
    grid-area: h-imp-rating-rev-word;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 0px;
    text-align: center;
}

/* --------------------------------------------- */
/* Meet The Team */

.h-team {
    width: 1430px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 7px 25px #1234564b;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px repeat(1, 1fr);
}
.h-team-title {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 42px;
    text-align: center;
    color: #333;
    margin: 0;
}
.h-team-carousel-inner {
    position: relative;
    overflow: hidden;
}
.h-team-carousel-buttons {
    width: 5% !important;
}
.h-team-div {
    display: grid;
    grid-template-columns: 250px repeat(1, 1fr);
    grid-template-rows: 80px 50px 190px;
    gap: 10px;
    grid-template-areas: 
    "h-team-div-img h-team-name h-team-title"
    "h-team-div-img h-team-work h-team-work"
    "h-team-div-img h-team-word h-team-word";
}
.h-team-div-img {
    grid-area: h-team-div-img;
}
.h-team-img {
    width: 250px;
    height: 360px;
    transition: 0.3s 0s linear;
}
.h-team-img:hover {
    scale: 1.2;
}
.h-team-name {
    grid-area: h-team-name;
    margin: 25px 0px;
}
.h-team-mohammed-title {
    font-size: 22px;
    font-weight: 600;
}
.h-team-work {
    grid-area: h-team-work;
    margin: 10px 0px;
}
.h-team-word {
    grid-area: h-team-word;
    font-size: 25px;
    font-weight: 400;
}

/* --------------------------------------------- */
/* Footer */

.h-footer {
    display: grid;
    grid-template-columns: 250px 420px 950px;
    /* grid-template-rows: 60px 240px 70px; */
    grid-template-areas:
        "h-foter-title h-foter-title h-foter-title"
        ". h-footer-ui h-footer-form"
        "h-footer-version . .";
    width: 100%;
    height: 500px;
    padding: 20px;
    background-color: #343a40;
    box-shadow: 0px -10px 160px 0px #DDDDF3;
}
.h-footer-title {
    grid-area: h-foter-title;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 72px;
    color: white;
    pointer-events: none;
}
.h-footer-ui {
    grid-area: h-footer-ui;
    margin-top: 30px;
    padding: 0;
    list-style: none;
}
.h-footer-ui-1, .h-footer-ui-2 {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    font-weight: 100;
    padding: 0px;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    transition: 0.3s 0s linear;
}
.h-footer-ui-1:hover, .h-footer-ui-2:hover, .h-footer-ui-1:focus-visible, .h-footer-ui-2:focus-visible, .h-footer-ui-1:active, h-footer-ui-2:active {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    color: #0d6efd;
}
.h-footer-ui-3, .h-footer-ui-4 {
    color: white;
    font-size: 18px;
    text-decoration: none;
    opacity: 0.7;
}

/* --------------------------------------------- */
/* Feedpack Form */

.h-footer-form {
    grid-area: h-footer-form;
    font-family: 'Rubik', Arial, sans-serif;
}
#h-footer-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 50px 40px 50px 40px 50px;
    grid-template-areas:
        "req req ."
        "email email message"
        "opt opt ."
        "number number ."
        "feedback contact ."
        "send upload .";
    gap: 5px;
}

.h-footer-form-required {
    grid-area: req;
    font-size: 26px;
    color: white;
    margin-bottom: 0;
}
.h-footer-form-optional {
    grid-area: opt;
    font-size: 26px;
    color: white;
    margin-bottom: 0;
}

#h-footer-form-email {
    grid-area: email;
    width: 450px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    outline: none;
}
#h-footer-form-number {
    grid-area: number;
    width: 450px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    outline: none;
}

.h-footer-form-div-feedback {
    grid-area: feedback;
}
.h-footer-form-div-contact {
    grid-area: contact;
}

.h-footer-form-message {
    grid-area: message;
    min-width: 450px;
    min-height: 250px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 26px;
    outline: none;
}
.h-footer-form-message::-webkit-scrollbar {
    width: 6px;
}
.h-footer-form-message::-webkit-scrollbar-track {
    background: #eee;
}
.h-footer-form-message::-webkit-scrollbar-thumb {
    background-color: #007bffb4;
    border-radius: 20px;
}

#h-footer-form-upload {
    display: none;
}
#h-footer-form-uploadl {
    grid-area: upload;
    width: 160px;
    padding: 0px 20px;
    background-color: #0d6efd;
    color: white;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s 0s linear;
}
#h-footer-form-uploadl:hover {
    background-color: #0955c7;
}
#h-footer-form-send {
    grid-area: send;
    width: 160px;
    padding: 0px 40px;
    background-color: #0d6efd;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    transition: 0.3s 0s linear;
}
#h-footer-form-send:hover {
    background-color: #0955c7;
}

/* --------------------------------------------- */

.h-footer-version {
    grid-area: h-footer-version;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 22px;
    opacity: 0.3;
    color: white;
}
