@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

.wordlist-body {
    background-color: #2484cc;
}

body::-webkit-scrollbar {
    width: 5px;
}
  
body::-webkit-scrollbar-track {
    background: #eee;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #365679b4;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #3395ff;
}
/* flex */
.col {
    flex: 1 0 50% !important;
}

/* -------------------------------------------------------------------------------------------------- */
/* Header */

.w-TitleCard {
    display: flex;
    font-family: 'fa-regular-400', Arial, sans-serif;
    font-size: 250px;
    filter: blur(3px);
    color: white;
    flex-direction: column;
    align-items: center;
    transition: 0.2s 0s linear;
}
.w-TitleCard:hover {
    filter: blur(0px);
}

/* --------------------------------------------- */
