@font-face {
    font-family: 'Rubik';
    src: local('Rubik'), url('../Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('/Fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fa-regular-400';
    src: url(/WebFonts/fa-brands-400.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}

.generator-body { 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1117%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(95%2c 163%2c 235%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c632.972C171.378%2c637.531%2c338.152%2c842.665%2c487.856%2c759.118C634.424%2c677.321%2c549.94%2c435.605%2c623.763%2c284.863C700.816%2c127.526%2c908.975%2c41.526%2c924.732%2c-132.956C940.825%2c-311.15%2c828.784%2c-481.734%2c704.629%2c-610.565C583.809%2c-735.936%2c419.909%2c-832.063%2c245.877%2c-837.381C83.694%2c-842.337%2c-38.444%2c-702.437%2c-187.28%2c-637.817C-313.291%2c-583.107%2c-465.097%2c-584.384%2c-561.732%2c-486.744C-660.76%2c-386.686%2c-688.057%2c-240.887%2c-716.562%2c-103.026C-746.689%2c42.678%2c-773.276%2c191.255%2c-731.444%2c334.039C-685.845%2c489.681%2c-621.584%2c672.241%2c-471.454%2c733.597C-319.631%2c795.645%2c-163.955%2c628.61%2c0%2c632.972' fill='%232481e4'%3e%3c/path%3e%3cpath d='M1920 1536.835C2028.074 1536.377 2137.017 1615.254 2235.776 1571.357 2336.067 1526.779 2401.638 1418.307 2426.936 1311.51 2450.601 1211.606 2384.043 1116.985 2367.406 1015.673 2351.214 917.068 2383.258 809.1610000000001 2330.508 724.293 2274.901 634.828 2180.5389999999998 563.115 2076.374 547.439 1975.34 532.234 1883.264 597.7819999999999 1791.747 643.211 1714.641 681.4870000000001 1655.632 739.8720000000001 1586.202 790.7629999999999 1493.287 858.8679999999999 1362.261 888.079 1314.591 992.955 1264.521 1103.111 1279.133 1239.718 1332.853 1348.141 1385.9859999999999 1455.38 1488.558 1537.424 1602.499 1574.041 1706.044 1607.318 1811.24 1537.296 1920 1536.835' fill='%239ac5f2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1117'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background: #eee;
}
body::-webkit-scrollbar-thumb {
    background-color: #007bffb4;
    border-radius: 20px;
}

::selection {
    background-color: aliceblue;
    color: #3395ff;
}

/* flex */
.col {
    flex: 1 0 50% !important;
}

/* -------------------------------------------------------------------------------------------------- */
/* Header */

.g-TitleCard {
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 230px;
    color: white;
    height: 212px;
    overflow: hidden;
}
.g-TitleAlign {
    text-align: center;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 32px;
    color: white;
}

/* -------------------------------------------------------------------------------------------------- */
/* Main Content */

/* Check Boxes */
.main-checks {
    color: white;
    border: 5px solid white;
    padding: 10px 20px;
    font-size: 26px;
    margin: 10px;
}
.main-checks:hover {
    color: #ffffff !important;
    border: 5px solid #ffffff !important;
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    color: #212529 !important;
    background-color: #dce2eb !important;
}

/* --------------------------------------------- */

/* Range */
#RangeContainer {
    margin-left: 110px;
    width: 300px;
    height: 160px;
    padding: 20px 10px;
    cursor: default;
    text-align: center;
    background-color: rgb(175 206 255 / 80%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(255 255 255 / 25%), -5px -5px 10px rgb(255 255 255 / 25%);
}
#LRange {
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 24px;
    color: white;
}
#range[type="range"] {
    width: 90%;
    margin: 10px 0;
    cursor: pointer;
}
#rangeValue {
    font-size: 24px;
    font-family: 'Rubik', Arial, sans-serif;
    color: white;
}

/* --------------------------------------------- */

/* Password */
#Password {
    height: 90px;
    width: 90%;
    padding: 10px;
    font-size: 32px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    transition: 0.1s 0s all linear;
}
#Password:hover {
    border: 2px #007BFF solid;
    border-radius: 10px;
}
#Password:focus {
    border: 5px #007BFF solid;
    border-radius: 10px;
    outline: none;
}
#Password::selection {
    color: #007BFF;
}
/* Generate */
#Generate {
    padding: 10px 25px;
    font-size: 28px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(5%, 20%);
}
#Generate:hover {
    transition-duration: 0.3s;
    background-color: #0056b3;
}
/* Copy */
#CopyButton {
    padding: 10px 25px;
    font-size: 28px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(20%, 20%);
}
#CopyButton:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #0056b3;
}
/* تنسيق رسالة النسخ (نجاح) */
#CopyMessage.success {
    font-family: 'Rubik', Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}
/* تنسيق رسالة النسخ (فشل) */
#CopyMessage.error {
    font-family: 'Rubik', Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}

#CopyText {
    font-family: 'Rubik', Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}

/* -------------------------------------------------------------------------------------------------- */
